@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@keyframes substarters {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
.header {
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
  text-align: center; }
  .header__logo {
    font-family: "Shrikhand", "cursive";
    margin: 0; }

body, html {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  color: inherit; }

.tuto__title {
  margin-top: 0; }

.container {
  max-width: 1280px;
  margin: auto;
  position: relative; }

.footer {
  background-color: #353535;
  color: #fff; }
  .footer .footer__logo {
    color: #fff;
    font-family: Shrikhand,"cursive";
    font-size: 1.2rem;
    margin: 0 0 1rem; }
  .footer .footer__list {
    list-style: none;
    padding: 0;
    margin: 5px; }
  .footer .footer__listElt {
    margin: .5rem 0; }
  .footer .footer__listElt:last-child {
    margin-bottom: 0; }
  .footer .container {
    display: flex;
    flex-direction: column;
    padding: 1rem; }
  .footer .footer__icon {
    margin-right: 1rem; }

.search {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  padding: 1.25rem 1rem;
  background-color: #f3f3f3;
  position: relative; }
  .search .text {
    font-weight: 700; }
  .search .icon {
    margin-right: 10px; }

.reserve {
  text-align: center;
  padding: 2rem;
  background-color: #fafafa; }
  .reserve .reserve__menu {
    font-weight: 300;
    margin: 1.5rem 0; }
  .reserve .reserve__title {
    margin: 0; }
  .reserve .reserve__btn {
    border: 0;
    padding: .75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
    cursor: pointer;
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25); }

.tuto {
  padding: 2rem 1rem; }
  .tuto .tuto__title {
    margin-top: 0; }
  .tuto .tuto__menus {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: compteListe; }
    @media (min-width: 64rem) {
      .tuto .tuto__menus {
        display: flex; } }
  .tuto .tuto__menu {
    background-color: #f6f6f6;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    padding: 1.5rem;
    padding-right: 5.5rem;
    margin: 1rem 0 1rem 0.75rem;
    position: relative; }
    @media (min-width: 64rem) {
      .tuto .tuto__menu {
        flex: 1;
        margin: 0;
        margin-left: 2rem; }
        .tuto .tuto__menu .tuto__menu:first-child {
          margin-left: 0.75rem; } }
    .tuto .tuto__menu .tuto__menu:first-child {
      margin-top: 0; }
    .tuto .tuto__menu .tuto__menu:last-child {
      margin-bottom: 0; }
  .tuto .tuto__menu::before {
    counter-increment: compteListe 1;
    content: counter(compteListe) "";
    background: #9356DC;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    margin-bottom: 10rem;
    left: -.75rem; }
  .tuto .tuto__icon {
    color: #7e7e7e;
    margin-right: 1rem; }

.restaurant {
  background-color: #f6f6f6;
  padding: 2rem 1rem; }
  .restaurant .restaurant__menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    row-gap: 2rem; }
    @media (min-width: 64rem) {
      .restaurant .restaurant__menu {
        grid-template-columns: repeat(2, 1fr); } }

.card {
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block; }
  .card .card__img {
    height: 12rem;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover; }
  .card .card__badge {
    background-color: #99E2D0;
    color: #1b6150;
    padding: .5rem;
    border-radius: .125rem;
    position: absolute;
    top: 1rem;
    right: .75rem; }
  .card .card__footer {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center; }
  .card .card__content {
    flex: 1; }
  .card .card__title {
    margin: 0;
    margin-bottom: 0.25rem; }
  .card .card__subtitle {
    margin: 0; }
  .card .card__btn {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: transparent 0px solid;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
  .card .card__like {
    background-color: white !important; }

.header_arrow {
  position: absolute;
  display: flex;
  color: #000;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  font-size: 1.2rem; }

.card__img {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover; }

.container {
  max-width: 1280px;
  margin: auto; }

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative; }

.menu__header {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.menu__title {
  font-family: "Shrikhand", "cursive"; }

.header__btn {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: 0 solid transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: #000; }

.menu__like {
  transition-duration: .25s;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center; }

.menu__btn {
  height: 2rem;
  width: 2rem;
  border: 0 solid transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: #000; }

.menu__btn::before, .menu__like {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.menu__btn::before {
  opacity: 0;
  transition: .5s;
  content: "";
  background: linear-gradient(0deg, #9356dc, #ff79da); }

.big__menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Media Query for Mobile Devices */ }
  @media (max-width: 480px) {
    .big__menus {
      display: grid;
      grid-template-columns: repeat(1, 1fr); } }
  .big__menus .menu__starters {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem; }
  .big__menus .starters {
    text-transform: uppercase;
    position: relative;
    padding-bottom: .5rem;
    font-weight: 400; }
  .big__menus .starters::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0; }
  .big__menus .submenu__starters {
    background-color: white;
    padding: 1rem;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    animation: substarters .6s;
    animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 100%; }
    .big__menus .submenu__starters .submenu__starters:hover, .big__menus .submenu__starters .Validation__menu {
      margin-right: -1rem; }
    .big__menus .submenu__starters .submenu__starters, .big__menus .submenu__starters .Validation__Icon {
      transform: rotate(0); }
    .big__menus .submenu__starters .header__starters {
      flex: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
    .big__menus .submenu__starters .starters__title {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
    .big__menus .submenu__starters .starters__description {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
    .big__menus .submenu__starters .starters__money {
      font-weight: 700;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-left: .5rem; }

.Validation__menu {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: animeValid .5s ease-in-out; }

.Validation__Icon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg); }

.validation__subicon {
  color: #99e2d0; }

.order__menu {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0; }
  .order__menu .order {
    border: 0;
    padding: .75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
    cursor: pointer;
    transition: transform ease-in-out .25s;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25); }

/*# sourceMappingURL=main.css.map */
