$colorwhite:#fff;
$appPadding:1rem;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;


body, html 
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .tuto-title
  {
      margin-top: 0;
  }
.container {
      max-width: 1280px;
      margin: auto;
      position: relative;
    }
