.header
{
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1000;
    text-align: center;
    &__logo
    {
        font-family: "Shrikhand", "cursive";
        margin: 0;

    }
}
body, html 
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .tuto__title
    {
        max-width: 1280px;
        margin: auto;
        position: relative;
    }
  .container {
        max-width: 1280px;
        margin: auto;
        position: relative;
      }
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
.footer__logo {
    color: #fff;
    font-family: Shrikhand,"cursive";
    font-size: 1.2rem;
    margin: 0 0 1rem;
}
.footer__list {
    list-style: none;
    padding: 0;
    margin: 5px;
}

.footer__listElt {
    margin: .5rem 0;
}
.footer__listElt:last-child {
    margin-bottom: 0;
}
.footer {
    background-color: #353535;
    color: #fff;
  }
  .footer .container
  {
      display: flex;
      flex-direction: column;
      padding: 1rem;
  }.footer__icon
  {
      margin-right: 1rem;
  }
